#footerText {
margin:0;
padding: 0;
display: block;
float: center;
margin-left: 10em;
font-size:12px;
font-weight: bold;
}

#footerText ul {
margin:0;
padding: 0;
line-height: 2em;
}

#footerText li {
margin:0;
padding: 0;
list-style: none;
float: left;
position: relative;
--background:#efefef;
}

#footerText ul li a {
text-align: left;
text-decoration: none;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
padding-left: 4em;
height: 18px;
width: 165px;
display: inline;
color: #5856D6;
}

#footerText ul ul{
	position: absolute;
	visibility: hidden;
	top: 30	px;
}

/* #footerText ul li:hover ul {
visibility: visible;
} */

/*********************************************************************************/

/* #footerText li:hover{
--background: #09F;
background:#eee;
} */

/* #footerText ul li:hover ul li a:hover{
	background: #CCC;
	color: #000;
} */

#footerText a:hover{
	color: #998031;
	}

/* #footerText-final a{
   text-align: left;
text-decoration: none;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
padding-left: 1em;
height: 18px;
width: 152px;
display: flex;
color: #5856D6;
} */
