
/* Want these in decreasing size order to overwrite properly */
@media screen and (max-width: 900px) {

  div#tglo{
      --font-family: 'Open Sans Condensed', sans-serif;
       font-size: 0.6em;
           margin-left: -2.5em;
       color: #8B7844;
       margin-right: -1em;
       margin-bottom: 1.0em;
  }

    div#title{
        margin-left: 1em;
        margin-right: 1em;
      }

  div#gerg{
      margin-left: -2em;
  }
}


@media screen and (max-width: 700px) {

  div#tglo{
      --font-family: 'Open Sans Condensed', sans-serif;
       font-size: 0.6em;
           margin-left: -2.5em;
       color: #8B7844;
       margin-right: -1em;
       margin-bottom: 1.0em;
  }

    div#title{
        margin-left: 1em;
        margin-right: 1em;
      }

  div#gerg{
      margin-left: -2em;
  }
}

@media screen and (max-width: 420px) {

  div#tglo{
      display: none;
  }

  div#gerg{
      margin-left: 2em;
  	}

  div#title{
      margin-left: 2em;
      margin-right: 0em;
    }

}


@media screen and (max-width: 400px) {

  div#tglo{
      display: none;
  }

  div#gerg{
      margin-left: 0em;
  	}

  div#title{
      margin-left: 1em;
      margin-right: 0em;
    }
}


@media screen and (max-width: 384px) {

  div#tglo{
      display: none;
  }

  div#gerg{
      margin-left: 0em;
  	}

  div#title{
      margin-left: 1em;
      margin-right: 0em;
    }
}


/* iphone 5 */
@media screen and (max-width: 330px) {

  div#tglo{
      display: none;
  }

  div#gerg{
      margin-left: -1em;
  	}

  div#title{
      margin-left: 0em;
      margin-right: 0em;
    }
}

/* Navigation bar separately */
@media screen and (max-width: 900px) {
div#mapbuoycontainer{margin-top: 1.5em;}}
@media screen and (max-width: 751px) {
div#mapbuoycontainer{margin-top: 3em;}}
@media screen and (max-width: 383px) {
div#mapbuoycontainer{margin-top: 6em;}}

/* GERG Logo size (ATM only or full GERG) */
@media screen and (max-width: 567px) {
div#gerg{overflow: hidden}}

/* buoy list vertical spacing */
@media screen and (max-height: 900px) {
div#buoycontainer{margin-top: 6em;}}
@media screen and (max-height: 640px) {
div#buoycontainer{margin-top: 7em;}}
@media screen and (max-height: 420px) {
div#buoycontainer{margin-top: 8em;}}
@media screen and (max-height: 405px) {
div#buoycontainer{margin-top: 9em;}}
@media screen and (max-height: 390px) {
div#buoycontainer{margin-top: 11em;}}
@media screen and (max-height: 355px) {
div#buoycontainer{margin-top: 13em;}}
@media screen and (max-height: 320px) {
div#buoycontainer{margin-top: 15em;}}



div#title{
    --font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
  margin-top: -2.5em;
    font-size: 0.9em;
    color: #000000;
    width: 150px;
    margin-bottom: -1.5em;
  }


div#gerg{
    margin-top: -2.0em;
  width: 100px;
    transform: scale(0.3, 0.3);
    margin-bottom: -1.5em;
  }

div#container {
  float: none;
  width: 100%;
}

div#headercontainer{
width:100%;
}

div#mapbuoycontainer
{
 width: auto;
overflow: auto;
}
/*
div#buoycontainer
{
  margin-top: 5em;
} */


div#mapcontainer{
max-width: 900px;
    float: center;
margin-right: 0px;
width:100%;
max-height: 430px; height: 100%;
}

div#map{
margin-left: 0em;
margin-top : 0em;
/*position: relative;*/
}

div#map iframe{
background: #FFFFFF;
font-size: 27px;
/*width:100%;
height: 100%;*/
margin-bottom: -0.5em;
-ms-zoom: 1.0;
-moz-transform: scale(1.0);
-moz-transform-origin: 0 0;
-o-transform: scale(1.0);
-o-transform-origin: 0 0;
-webkit-transform: scale(1.0);
-webkit-transform-origin: 0 0;
}

div#social{
    display: none;
}

div#Report{
    font-size: 1.2em;
}

div#database{
    display: none;
}

div#wrapper{
left :0px;
}

/* div#navmenu */
/* yes reponsive */
/* ul{display:none;} */
/* not responsive */
/* .notmobile ul{display: normal;
              margin-bottom:30em;} */

/* div#navmobile ul{
clear: both;
float: left;
width: 30%;
max-width: 100%
left: 5px;
display: block;
} */


div#footer {
display:none
}

div#mobtitle{
	display: none;
}
div#gloseal
{
	margin-left : -1.5em;
	margin-top: -2em;
    margin-bottom: -1.5em;
    transform: scale(0.4, 0.4);
}

/*div#tglo{
	 --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-family: Frutiger 65, Bold;
	 font-size: .9em;
	 margin-top: -.25em;
	 }*/

/* div#title{
    --font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
	margin-top: -2.5em;
    margin-right: 1em;
    font-size: 0.9em;
    color: #000000;
    width: 150px;
    margin-bottom: -1.5em;
	} */


/* div#fullbutton{
    display: none;
} */


div#footerText{
display: none;
}
