div#head table{
width: auto;
float: left;
font-size: 0px;
margin: 0px auto;
}


div#leftmenu{
width : auto;
float: left;
margin: 0px;
font-size: 12px;
}

div#map iframe{
max-width:280px;
float:left;
margin: 0px auto;
overflow: auto;
height: 200px;
background: #FFFFFF;
font-size: 27px;
margin-left: 3em;
}


div #Buoy
{
margin-left: 2em;
margin-bottom: -3em;
font-size: 2px;
}

div#wrapper{
left :0px;
}

div#navmenu ul{
--clear: both;
--width: 80%
--max-width: 100%;
--margin-left:10px;
display:none;
}

div#navmobile ul{
clear: both;
float: left;
width: 30%;
max-width: 100%
left: 5px;
display: block;
}

div#footer {
display:none
}

div#gloseal
{
	margin-left : .25em;
	margin-top: -.25em;
}
div#tglo{
	 --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-family: Frutiger 65, Bold;
	 font-size: .9em;
	 margin-top: -.25em;
	 }

div#title{
	margin-top: -1.5em;
	margin-left: -1em;
	font-family: Frutiger 65, Bold;
	}

div#mobtitle{
	margin-left: -12em;
	margin-top: -1.5em;
	font-family: Frutiger 65, Bold;
	text-align: left;
}

div#gerg{
	margin-left: 2em;
	display:none;
	}

div#text{
padding-left : 29em;
top :0;
margin-top: -3.5em;
margin-left: -.75em;
font-size: 1em;
}

div#data
{display:none;
}

div#custom{
	color: #007AFF;
}



div#map{
margin-left: 0em;
margin-top : -5em;

}

div#footerText{
margin-bottom: -1em;
display: none;
}
